---
import Base from '../layouts/Base.astro';
import Nav from '../components/Nav.astro';
import WorkGrid from '../components/WorkGrid.astro';
---

<Base title="Videos">
    <Nav active="video" />
    <main class="px-5 md:px-10 xl:max-w-[1680px] mx-auto py-10 xl:py-16 pb-20 xl:pb-32">
        <WorkGrid />
    </main>
</Base>
