---
interface Props { title: string; background?: 'black' | 'white'; }
const { title, background = 'black' } = Astro.props;
const bodyClass = background === 'white' ? 'bg-white text-black' : 'bg-black text-white';

import '../styles/global.css';
---

<html lang="es" class="scroll-smooth motion-reduce:scroll-auto">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
        <title>{title} | Marianfilms</title>
    </head>
    <body class={`${bodyClass} p-0 m-0`} id="top">
        <slot />
    </body>
</html>